@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #050510;
    color: white;
    font-family: 'Orbitron', sans-serif;
  }
}
